%h1
  Drinks

.button
  = link_to 'Create Drink', new_have_less_drink_path

.table.drinks-list
  %table
    - if @drinks.any?
      %thead
        %tr
          %td Name
          %td Type
          %td Created at
      %tbody
        - @drinks.each do |drink|
          %tr
            %td= drink.name.humanize
            %td= drink.drink_type&.humanize
            %td= drink.created_at
            %td= link_to 'Show', have_less_drink_path(drink)
            %td= link_to 'Edit', edit_have_less_drink_path(drink)
    - else
      %tbody
        There are currently no drinks here. Add some!

