%h1 Create Drink
.form
  = form_for [:have_less, @drink] do |f|
    = f.text_field :name
    = f.label 'Drink Type'
    - drink_type_options = Drink.drink_types.map { |key, value| [key.to_s.humanize, key] }
    = f.select :drink_type, options_for_select(drink_type_options), prompt: 'Select drink type...'
    = f.submit 'Create Drink', class: 'button'
  = link_to 'Back', have_less_drinks_path
