/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body
  background: lightpink

header
  font-size: 60px
  font-family: Ubuntu
  color: whitesmoke


h1
  font-size: 45px
  font-family: Ubuntu

p
  font-family: DejaVu Sans
  font-size: large

.button
  background-color: #e873c9
  border: none
  color: white
  padding: 5px 10px
  text-align: center
  display: inline-block
  font-size: 16px
  border-radius: 10px

  a:link
    text-decoration: none
